.wraper {
  background-color: rgb(211, 4, 4);
  margin: 10%;
  padding: 3% 0;
}
.wrap {
  color: white;

  display: flex;
  gap: 20px;
  padding: 50px;
  opacity: 90%;

  /* margin: 0 0 5px 0; */
  /* position: relative; */
}

button {
  background-color: rgb(255, 166, 0);
  border: none;
  cursor: pointer;

  /* 
  box-shadow: 0px 1px 1px 0px rgb(255 255 255 / 74%),
    0px 2px 2px 0px rgb(255 255 255 / 74%); */
}
button > span {
  width: 70px;
  display: inline-block;
  color: red;
  transform: rotate(-90deg);
}
button:hover {
  background-color: white;
}
.poster {
  /* position: absolute; */
  height: 500px;
  /* margin-left: 30px; */
  /* box-shadow: 0px 1px 6px 0px rgb(255 255 255 / 74%),
    0px 2px 3px 0px rgb(255 255 255 / 74%); */
}
.text {
  display: flex;
  border-right: 1px dashed white;
  width: 20%;
  padding-right: 10px;
  rotate: 180;
}

.genres {
  display: flex;
  flex-direction: column;
  color: white;
  /* gap: 30px; */
  margin-bottom: 30px;
}
.genres > span {
  font-size: small;
}

.overview {
  width: 30%;
}

.page {
  /* flex-direction: column; */

  padding: 0;
  width: 50%;
  height: 100px;
  margin-left: 30px;
  /* background-color: rgb(247, 141, 3); */
  /* opacity: 30%; */
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(211, 4, 4);
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  margin: 5%;
  padding: 0 11%;
  /* margin-right: auto;
  margin-left: auto; */
  background-color: rgb(247, 141, 3);
}
.link:hover {
  color: rgb(255, 196, 0);
}
