.imgwrap {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.cast {
  width: calc((100% - 30px) / 8);
  /* height: 20%; */
  object-fit: cover;
}

.info {
  font-size: large;
  color: white;
  text-align: center;
  padding: 0 10% 10% 6%;
}
