.wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(211, 4, 4);
  padding: 15px;
  /* opacity: 80%; */
}

.link {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  width: 180px;
  font-size: large;
  border: 1px solid rgb(255, 166, 0);
  margin-right: 8px;
  padding: 10px 30px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'futura-demic-reg', Arial, sans-serif;
}

.link:global(.active) {
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(211, 4, 4);
  /* border: 1px solid rgb(211, 4, 4); */
  background-color: rgb(255, 166, 0);
}
