.wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: rgb(240, 238, 238);
  padding: 15px;
}

.link {
  text-decoration: none;
  color: grey;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  width: 80px;
  font-size: large;
  border: 1px solid grey;
  border-radius: 17px;
  margin-right: 8px;
  padding: 5px 30px;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  font-size: 10px;
  letter-spacing: 2px;
  font-family: 'futura-demic-reg', Arial, sans-serif;
}

.link:global(.active) {
  text-transform: uppercase;
  color: deeppink;
  border: 1px solid deeppink;
}
